*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    /* remove basic styling */
}
body{
    font-family: sans-serif;
}

.start{
    height: 100vh;
}

.start video{
    height:100%;
    width: 100%;
    object-fit: cover;
}

.start h1{
    /* removes the item from the dom with the absolute */
    position: absolute;
    /* moves the item to the middle */
    top:50%;
    left:50%;
    /* moves perfectly to the middle of the sceen */
    transform: translate(-50%,-50%);
    font-size:80px;
    
}
section{
    height: 100vh;
    background-color: black;
}
section h1{
    padding-top:300px;
    text-align:center;
    font-size:  80px;
    color:white;
}